LOG IN
.body {
  background-color: #f5f7fa;
}

.btn {
  padding: 12px 80px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(24, 255, 120);
  color: rgb(0, 0, 0);
  transition: all;
  transition-duration: 1s;
}

.sort-btn {
  color: #ff0080;
}

/* DASHBOARD */
.main-bar {
  display: inline;
}
.none {
  display: none;
}

.left-bar {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex: 0px;
  text-align: center;
  align-items: start;
  justify-content: start;
  border: none;
  border-radius: 0px;
  border-bottom: 20px;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  /* background-color: rgb(4, 21, 58); */
  background-color: #0078d4;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  align-items: left;
  border-width: 20px;
}
.teacher {
  margin-left: -4px;
}
.fa,
.fa-solid {
  font-size: 70%;
  color: white;
}

.space {
  margin-top: 45px;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: rgb(41, 3, 255);
  background-color: rgb(145, 167, 214);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.drop-btn:hover {
  background-color: rgb(106, 153, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  display: block;
  color: black;
}
.drop-btn {
  font-size: 15px;
  color: rgb(0, 110, 255);
}
.header {
  /* background-color: rgb(11, 18, 27); */
  background-color: #0078d4;
  margin-top: -1px;
  max-height: fit-content;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.left-section {
  /* background-color: #0077ff; */
  display: flex;
  flex-direction: row;
  flex: 100px;
}

.greetings {
  margin-top: 7px;
  margin-right: 15px;
  font-size: 1.2rem;
}
.username,
.greetings {
  font-family: monospace;
  color: #ffc107;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

 /* Container for the chart */
 .chart-container {
  width: 80%;
  max-width: 800px; /* Maximum width for larger screens */
  /* margin: auto; */
  /* margin-left: 10%; */
  position: relative;
  
}

/* Make the canvas responsive */
#myChart {
  width: 50% !important;
  height: 10% !important;
  
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  flex-basis: 100;
  margin-left:  10%;
  
}
.stat {
  /* background-color: rgba(206, 221, 238, 0.8); */
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  flex-basis: 100;
  /* margin-left: 10%; */
  margin-top: 12%;
}

.student-count,
.teacher-count,
.total-count {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  height: 85px;
  font-family: monospace;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3rem;
  font-weight: 900;
  margin-left: 5px;
  padding: 0% 2%;
}

.student-count {
  display: flex;
  margin-left: 0px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-left: solid;
  border-right: solid;
  border-width: 2px;
  width: 118px;
  height: 75px;
}
.teacher-count {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-right: solid;
  border-width: 2px;
  width: 112px;
  height: 75px;
}
.total-count {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: none;
  width: 112px;
  height: 75px;
}
.count {
  font-size: 240%;
  font-weight: 500;
}

/* ADD STUDENT */
.student-heading {
  font-family: monospace;
  font-size: 30px;
  font-weight: 900;
  color: rgb(243, 9, 126);
}
.std-input-box {
  background-color: #eaf4ff;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 35px;
}
.student-container {
  background-color: rgb(220, 224, 223);
  /* box-shadow: 1px 1px 200px 6px rgba(25, 25, 27, 0.5); */
  color: #000000;
  margin-left: 20px;
  margin-top: 40px;
  padding: 20px 45px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 100;
  column-gap: 45px;
  /* row-gap: 45px; */
  justify-content: start;
  width: 80%;
  font-size: 12px;
  font-family: monospace;
  font-weight: 600;
}

/*EDIT STUDENT CONTAINER*/
.student-edit-heading {
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
}
.edit-input-box {
  background-color: #9ee9ee;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  width: 100%;
  height: 25px;
}

.change-password {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
  color: midnightblue;
}
.std-edit-container {
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
}

/* SAVE BUTTON */
.savebtn {
  border: none;
  width: 60px;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(57, 97, 104);
  color: white;
  font-size: 9px;
}
.savebtn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(61, 209, 140);
}
/* VIEW */
.tab {
  margin-left: 9%;
  margin-top: 50px;
}
.school-logo {
  max-width: 100px;
  height: 100px;
  border-radius: 90px;
  margin-right: 10px;
}
.school-name {
  margin-top: 70px;
  margin-left: 130px;
  font-family: monospace;
  font-size: 1.9rem;
  font-weight: 700;
  color: blueviolet;
}
.tabNone {
  margin-left: 4px;
}

/* Custom Table Styles */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  font-size: 1.4rem;
  border-bottom: 1px solid #ddd;
}

.table thead {
  background-color: #f4f4f4;
  font-weight: bold;
}

.tab-head {
  color: #007bff;
  font-weight: bold;
}

.tab-data {
  color: #555;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table-bordered {
  border: 1px solid #ddd;
}

/* Make table scrollable on small screens */
.table-responsive {
  overflow-x: auto;
}
.status {
  background-color: rgb(86, 216, 151);
}
.delete {
  color: red;
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
}
.edit {
  color: #1248fa;
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
}

/* ADD STAFF */
.staff-heading {
  font-family: monospace;
  font-size: 30px;
  font-weight: 900;
  color: rgb(243, 9, 126);
}
.tch-input-box {
  background-color: #eaf4ff;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 35px;
}
.staff-container {
  background-color: rgb(220, 224, 223);
  box-shadow: 1px 1px 200px 6px rgba(25, 25, 27, 0.5);
  color: #000000;
  margin-left: 150px;
  margin-top: 90px;
  padding: 20px 45px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 100;
  column-gap: 45px;
  /* row-gap: 45px; */
  justify-content: start;
  width: 80%;
  font-size: 12px;
  font-family: monospace;
  font-weight: 600;
}

.detail-title {
  color: #1248fa;
  font-weight: 900;
  margin-top: 15px;
}

/*Password Visibility/Strenght */
.view {
  font-family: monospace;
  font-weight: bolder;
  border: none;
  background-color: rgb(5, 190, 223);
  width: 50px;
  height: 25px;
  margin-left: -50px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.check {
  color: rgb(252, 9, 90);
  font-family: monospace;
  font-weight: bolder;
}

/* RESULT PRINT SCREEN STRUCTURE */
.rslt-body {
  background-color: #46b9ee;
}
.result-heading {
  display: block;
  color: antiquewhite;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: monospace;
  text-align: center;
}
table {
  border: none;
  border-color: black;
  border-width: 2px;
  font-family: monospace;
  font-weight: 900;
  font-size: 17px;
}
.labels {
  color: rgb(61, 195, 212);
  font-weight: 900;
  font-family: monospace;
}
b {
  font-weight: 500;
  color: aliceblue;
  font-size: small;
  margin-right: 7px;
}
.main-table {
  display: none;
  flex-direction: column;
  align-content: center;
  background-color: rgb(0, 0, 0);
}
.t-head {
  background-color: rgb(234, 249, 253);
}
.table-row {
  background-color: rgb(198, 198, 221);
  text-align: center;
}

.none {
  display: none;
}

/* WEB ENTRY STRUCTURE */

.main-structure {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 100px;
  margin: 0px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.inp-box {
  border: none;
  border-radius: 10px;
  margin: 5px 10px;
  padding: 10px;
}
.inp-box::placeholder {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-weight: 600;
  font-style: italic;
}

.save {
  cursor: pointer;
  background-color: rgb(253, 173, 0);
  border: none;
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 900;
  font-family: monospace;
}
.save:hover {
  background-color: rgb(0, 253, 0);
}
/* VIEWS */
.views {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0px 0px 140px;
  column-gap: 40px;
  color: #0f0f0f;
}

/*RESULT ENTRY || LEVEL SELECTION PAGE*/

.level {
  margin-top: 100px;
  margin-bottom: 419px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: static;
  margin-left: 100px;
  max-width: fit-content;
  max-height: fit-content;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  /* box-shadow: 4px 5px 8px 10px rgba(25, 25, 27, 0.5); */
  padding-right: 15px;
  padding-top: 20px;
  padding-left: 19px;
  padding-bottom: 10px;
}

.level-btn1,
.level-btn2 {
  border: solid;
  border-width: 1.5px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: rgb(88, 87, 189);
  padding: 2px 20px;
}

/* CHECK IN */
.attend-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 100;
  column-gap: 45px;
  /* row-gap: 45px; */
  justify-content: start;
  width: 80%;
  font-size: 12px;
  font-family: monospace;
  font-weight: 600;
  margin-left: 100px;
}
.checkin-container {
  background-color: #ff4ba5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  font-family: monospace;
}
.checkin-input-box {
  width: 120px;
  height: 25px;
  margin-right: 20px;
}
.generate-button {
  border: none;
  border-radius: 10px;
  background-color: black;
  color: #ffffff;
  width: 90px;
  height: 25px;
  margin-right: 5px;
  display: inline-block;
}
.generate-button:hover {
  background-color: rgb(0, 250, 104);
  color: #000000;
}

.chk-input-box {
  width: 120px;
  height: 25px;
  margin-right: 20px;
  margin-left: -8px;
}
.input-btn {
  border: none;
  border-radius: 10px;
  background-color: black;
  color: #ffffff;
  width: 90px;
  height: 25px;
  margin-right: 5px;
  display: inline-block;
}
.input-btn:hover {
  background-color: rgb(0, 250, 104);
  color: #000000;
}
.page-layout {
  padding: 10px;
  margin: 8% 0% 0% 9%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 1000px;
  justify-content: center;
  column-gap: 3%;
  font-size: 12px;
  font-family: monospace;
  font-weight: 600;
  margin-left: 100px;
  overflow: hidden;
  /* box-shadow: 4px 5px 8px 10px rgba(25, 25, 27, 0.5); */
}
.settings-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 400px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.settings-row-1 {
  display: flex;
  flex-direction: column;
}
.settings-row-2 {
  display: flex;
  flex-direction: column;
}

.admin-view {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: baseline;
}
.admin-view-tab {
  border-radius: 8px;
  width: 40%;
  padding: 0% 2%;
  font-size: 90%;
  display: flex;
}

.close-btn {
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 600;
  background-color: #e7f3f3;
  color: #000000;
}
.modal-container {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}
.form-modal {
  background-color: #fff;
  width: 50%;
  max-width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: start; */
  align-items: center;
  margin-top: 10%;
  margin-left: 20%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tab {
    margin-left: 9%;
    margin-top: 50px;
  }
  .tabNone {
    margin-left: 0%;
  }

  .table th,
  .table td {
    font-size: 1.1rem;
    padding: 8px;
  }

   /* Container for the chart */
 .chart-container {
 display: none;
}

  .stat {
    /* background-color: rgba(206, 221, 238, 0.8); */
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-basis: 100;
    /* margin-left: 20%;  */
  }

  .student-count,
  .teacher-count,
  .total-count {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4px;
    font-family: monospace;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1rem;
    font-weight: 900;
    margin-left: 2px;
    padding: 0% 2%;
  }

  .student-count {
    display: flex;
    margin-left: 0px;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-left: solid;
    border-right: solid;
    border-width: 2px;
    width: 70px;
    height: 65px;
  }
  .teacher-count {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-right: solid;
    border-width: 2px;
    width: 70px;
    height: 65px;
  }
  .total-count {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: none;
    width: 70px;
    height: 65px;
  }
  .school-logo {
    max-width: 50px;
    height: 50px;
    border-radius: 90px;
  }
  .school-name {
    margin-top: 70px;
    margin-left: 130px;
    font-family: monospace;
    font-size: 1rem;
  }
  .tabNone {
    margin-left: 4px;
  }
}
